# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\axel\IdeaProjects\Nackademin\Kursuppgifter\Objektorienterad programmering och Java\Inlämningsuppgifter\Inlämningsuppgift 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
